VITE_RPC_URL=https://api.devnet.solana.com
VITE_TOKEN_PROGRAM_ID=d8Moyb74LyVmiJUaEjJrK7gVJ9UfJ39FyaeBLaD4jzu
VITE_FAUCET_PROGRAM_ID=28jX1tPZKkahfcV4VJCG7GVJZdowSMXn168ihanac9cn
VITE_BURNER_PROGRAM_ID=D7R4JgGKkB2wsDBnpnMEyiRr2RKbCZfMyuRqKfqyMWGR
